<div class="row">
  <div class="col-lg-12">
    <h1>Recipe: <%= @recipe.title %></h1>
  </div>
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Cooking time:</strong>
  <%= @recipe.cooking_time %>
</p>

<p>
  <strong>Difficulty level:</strong>
  <%= @recipe.difficulty_level %>
</p>

<p>
  <strong>Food type:</strong>
  <%= @recipe.food_type.name %>
</p>

<p>
  <strong>Food preference:</strong>
  <%= @recipe.food_preference.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @recipe.cuisine.name %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Procedure:</strong>
  <%= @recipe.procedure %>
</p>

<div class="actions">
  <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-default" %>
  <%= link_to 'Back', recipes_path, class: "btn btn-primary" %>
</div>